{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage">
        <form class="formCreation" method="post" action="#" enctype="multipart/form-data">
            <fieldset class="fieldsetCreation">
                <div>
                    <label class="labelCreation" for="idIntervenantReferentiel_id">Identifiant référentiel</label>
                    <input class="inputCreation" type="text" placeholder="p000000XXXXX" name="idIntervenantReferentiel"
                           id="idIntervenantReferentiel_id">
                </div>
                <div>
                    <label class="labelCreation" for="nom_id">Nom</label>
                    <input class="inputCreation" type="text" placeholder="Bonbeurre" name="nom" id="nom_id">
                </div>
                <div>
                    <label class="labelCreation" for="prenom_id">Prenom</label>
                    <input class="inputCreation" type="text" placeholder="Jean" name="prenom" id="prenom_id">
                </div>
                <div>
                    <label class="labelCreation" for="statut_id">Statut</label>
                    <select class="inputCreation" name="statut" id="statut_id">
                        {% set i = 1 %}
                        {% for statut in statuts %}
                            <option value="{{ i }}">{{ statut.getLibStatut }}</option>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    {% if idDroitUtilisateur == 1 %}
                        <label class="labelCreation" for="droit_id">Droit</label>
                        <select class="inputCreation" name=droit id="droit_id">
                            {% set j = 1 %}
                            {% for droit in droits %}
                                {% if droit.getTypeDroit == "enseignant.e" %}
                                    <option value="{{ i }}" selected>{{ droit.getTypeDroit }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ droit.getTypeDroit }}</option>
                                {% endif %}
                                {% set j = j + 1 %}
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="hidden" value="3" name="droit">
                    {% endif %}
                </div>
                <div>
                    <label class="labelCreation" for="emailInstitutionnel_id">Email institutionnel</label>
                    <input class="inputCreation" type="text" placeholder="jean.bonbeurre@umontpellier.fr"
                           name="emailInstitutionnel" id="emailInstitutionnel_id">
                </div>
                <div>
                    <label class="labelCreation" for="emailUsage_id">Email d'usage</label>
                    <input class="inputCreation" type="text" placeholder="jean.bonbeurre@email.fr" name="emailUsage"
                           id="emailUsage_id">
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <input class="boutonValidation bouton" type="submit" value="Envoyer">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}