{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage2">
        <div class="miseEnPage">
            <div class="coteGauche">
                <div class="miseEnPage">
                    <h2>Informations sur {{ intervenant.getPrenom }} {{ intervenant.getNom }}</h2>
                    <a href="{{ route("afficherFormulaireMiseAJourIntervenant", {idIntervenant : intervenant.getIdIntervenant}) }}">
                        <img class="edition" src="{{ asset("../ressources/img/pencil.svg") }}" alt="edit">
                    </a>
                </div>
                <ul class="description">
                    <li><b>Identifiant d'intervenant référentiel :</b> {{ intervenant.getIdIntervenantReferentiel }}
                    </li>
                    <li><b>Nom :</b> {{ intervenant.getNom }}</li>
                    <li><b>Prénom :</b> {{ intervenant.getPrenom }}</li>
                    <li><b>Statut :</b> {{ statut.getLibStatut }}</li>
                    <li><b>Droit :</b> {{ droit.getTypeDroit }}</li>
                    <li><b>Email institutionnel :</b> {{ intervenant.getEmailInstitutionnel }}</li>
                    <li><b>Email d'usage :</b> {{ intervenant.getEmailUsage }}</li>
                </ul>
                <div class="optionsSupplémentaires">
                    {% include "templates/barreRechercheIntervenant.twig" %}
                    <div class="optionsSurObjet">
                        <a href="{{ route("afficherFormulaireCreationIntervenant") }}"><b>Créer un nouvel
                                intervenant</b></a>
                    </div>
                </div>
            </div>
            <div class="coteDroit">
                {% set i = 0 %}
                <h2>Services annuels</h2>
                {% for serviceAnnuel in servicesAnnuels %}
                    <div class="annuel">
                        <div class="infosDepartementEtAnnee">
                            <div>
                                <p>Département : {{ departements[i].getLibDepartement }}</p>
                            </div>
                            <div>
                                {% set millesime = serviceAnnuel.getMillesime %}
                                <p>Année : {{ millesime }} - {{ millesime +1 }}</p>
                            </div>
                        </div>
                        <div class="infosAnnuel">
                            <ul>
                                <li>Emploi : {{ emplois[i].getLibEmploi }}</li>
                                <li>Service statuaire : {{ serviceAnnuel.getServiceStatuaire }}</li>
                                <li>Service réalisé : {{ serviceAnnuel.getServiceFait }}</li>
                                <li>Delta : {{ serviceAnnuel.getDelta }}</li>
                            </ul>
                            <a href="#">
                                <img class="edition" src="{{ asset("../ressources/img/pencil.svg") }}" alt="edit">
                            </a>
                        </div>
                        <div class="menuDeroulant">
                        <span class="boutonSousMenuAnneeService boutonMenuDeroulant">
                            <img class="arrow-down arrowDownAnneeService"
                                 src="{{ asset("../ressources/img/down-arrow.svg") }}" alt="down-arrow">
                            <img class="arrow-up arrowUpAnneeService"
                                 src="{{ asset("../ressources/img/up-arrow.svg") }}" alt="up-arrow">
                        </span>
                            <div class="sousMenuAnneeService menuDeroulantAnneeService">
                                {% set j = 0 %}
                                {% for declarationService in declarationsServices %}
                                    {% set millesime2 = declarationService.millesime %}
                                    {% if millesime == millesime2 %}
                                        <div class="infosSupplementaires">
                                            <p><b>Code :</b> {{ declarationService.idUsReferentiel }}</p>
                                            <p><b>Libellé :</b> {{ declarationService.libUS }}</p>
                                            <p><b>Type d'intervention :</b> {{ declarationService.typeIntervention }}
                                            </p>
                                            <p><b>Volume horaire :</b> {{ declarationService.volumeHoraire }}</p>
                                        </div>
                                    {% endif %}
                                    {% set j = j + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
        <div class="boutonValidationConteneur">
            <div class="boutonValidation">
                <a href="{{ route("exporterEnCSV", {idIntervenant: intervenant.getIdIntervenant }) }}">
                    Exporter au format CSV
                </a>
                <img id="download" src="{{ asset("../ressources/img/download.svg") }}" alt="download">
            </div>
        </div>
    </div>
{% endblock %}