{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage2 centrer">
        <div class="alert alert-info alertVoeux">
            <div>
                <p>Les vœux sont actuellement ouverts dans votre département !</p>
                <a class="boutonAvecLienInfo" href="#">Formuler ses voeux</a>
            </div>
            {# TODO : A implémenter avec les états du département de l'utilisateur connecté #}
            {#            <div> #}
            {#                <p>La phase de délibération est actuellement en cours dans votre département !</p> #}
            {#            </div> #}
            {#            <div> #}
            {#                <p>Aucun événement en cours dans votre département !</p> #}
            {#            </div> #}
        </div>
        <div id="conteneurAccueil">
            <div class="titreEtBarreRecherche2">
                <h2>Bonjour {{ utilisateur.getPrenom }} {{ utilisateur.getNom }} !</h2>
                {% include "templates/barreRechercheUsurpation.twig" %}
            </div>
            <div class="conteneurResponsable">
                <h3>Liste des unités de services dont vous êtes responsable</h3>
                {# TODO : rajouter la liste des US dont l'utilisateur est responsable #}
                <ul>
                    {% set i = 0 %}
                    {% for uniteServiceAnnee in unitesServicesAnnees %}
                        <li class="boutonContainer">
                            {% set lib = uniteServiceAnnee.getLibUSA ? uniteServiceAnnee.getLibUSA : unitesServices[i].getLibUS %}
                            <a href="{{ route("afficherDetailUniteService", {idUniteService: unitesServices[i].getIdUniteService}) }}">
                                {{ unitesServices[i].getIdUSReferentiel }} {{ lib }}
                            </a>
                        </li>
                        {% set i = i + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
