<!DOCTYPE html>
<html lang="fr">
<head>
    <meta CHARSET="UTF-8">
    <title>{% block page_title %}Sensei{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("../ressources/css/styles.css") }}">
    <link rel="icon" type="image/png" href="{{ asset("../ressources/img/logo.png") }}">
    <script type="module" src="{{ asset("../ressources/js/autoCompletion-reactif.js") }}" defer></script>
    <script type="text/javascript" src="{{ asset("../ressources/js/gestionBarreRecherche.js") }}" defer></script>
    <script type="text/javascript" src="{{ asset("../ressources/js/menuDeroulantAnneeService.js") }}" defer></script>
    <script type="text/javascript" src="{{ asset("../ressources/js/popupSuppression.js") }}" defer></script>
</head>
<body>
<header>
    <nav>
        <div id="logoEtTitre">
            <a href="{{ route("accueil") }}">
                <img id="logo" src="{{ asset("../ressources/img/logo.png") }}" alt="logo">
                Sensei
            </a>
        </div>
        <div id="onglets">
            <a href="{{ route("accueil") }}">Services</a>
            <a href={{ route("afficherListeUnitesServices") }}>Unités de Services</a>
            <a href="{{ route("afficherListeIntervenants") }}">Intervenant.e.s</a>
            <a href="{{ route("gestion") }}">Gestion</a>
            <a href="#">Aide</a>
        </div>
        <div id="deconnexion">
            <form action="{{ route('deconnexion') }}" method="post">
                <input type="hidden" name="logout" value="true">
                <button type="submit">Déconnexion</button>
            </form>
        </div>
    </nav>
</header>
<div id="informationsHeader">
    <div id="departementHeader">
        <p>Département actuel : {{ infosGlobaux.getDepActuel }}</p>
    </div>
    <div id="anneeHeader">
        {% set anneeActuelle = infosGlobaux.getAnneeActuelle %}
        <p>Année en cours : {{ anneeActuelle }}-{{ anneeActuelle+1 }}</p>
    </div>
</div>
<div id="messagesFlash">
    {% for type in ["success", "info", "warning", "danger"] %}
        {% for message in messagesFlash.lireMessages(type) %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
</div>
<main>
    {% block page_content %}{% endblock %}
</main>
<footer>
    <div id="vague"></div>
    <div id="footer">
        <p>© Sensei 2023</p>
    </div>
</footer>
</body>
</html>

