{% extends "base.twig" %}

{% block page_content %}
    <div class="miseEnPage2">
        <div class="blockGestion">
            <form class="formCreation" action="{{ route("changementGestion") }}" method="post">
                <fieldset class="fieldsetCreation">
                    <div class="miseEnPage">
                        <label for="departement_id">Changer de département</label>
                        <select class="inputCreation" name="departement" id="departement_id">
                            {% set i = 1 %}
                            {% for departement in departements %}
                                {% if departementActuel == departement.getLibDepartement %}
                                    <option value="{{ i }}" selected>{{ departement.getLibDepartement }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ departement.getLibDepartement }}</option>
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endfor %}
                        </select>
                        {% include "templates/boutonCheck.twig" %}
                    </div>
                    <div class="miseEnPage">
                        <label for="annee_id">Voyager dans le temps</label>
                        <select class="inputCreation" name="annee" id="annee_id">
                            <option value="2022">2022-2023</option>
                        </select>
                        {% include "templates/boutonCheck.twig" %}
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="blockGestion">
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="#">Gérer l'état du département</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherListeEtats") }}">Afficher la liste des
                        états</a>
                </div>
            </div>
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherFormulaireCreationNature") }}">Créer une
                        nature d'unité</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherListeNatures") }}">Accéder à la liste des
                        natures</a>
                </div>
            </div>
        </div>
        <div class="blockGestion">
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgOrange" href="{{ route("afficherFormulaireCreationComposante") }}">Créer
                        une composante</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgOrange" href="{{ route("afficherListeComposantes") }}">Accéder à la liste
                        des composantes</a>
                </div>
            </div>
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgOrange" href="{{ route("afficherFormulaireCreationDepartement") }}">Créer
                        un département</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgOrange" href="{{ route("afficherListeDepartements") }}">Accéder à la
                        liste des départements</a>
                </div>
            </div>
        </div>
        <div class="blockGestion">
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgBleu" href="{{ route("afficherFormulaireCreationDroit") }}">Créer un
                        droit</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgBleu" href="{{ route("afficherListeDroits") }}">Accéder à la liste des
                        droits</a>
                </div>
            </div>
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgBleu" href="{{ route("afficherFormulaireCreationEmploi") }}">Créer un
                        type d'emploi</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton bgBleu"  href="{{ route("afficherListeEmplois") }}">Accéder à la liste des
                        emplois</a>
                </div>
            </div>
        </div>
        <div class="blockGestion">
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherFormulaireCreationStatut") }}">Créer un
                        statut</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherListeStatuts") }}">Accéder à la liste des
                        statuts</a>
                </div>
            </div>
            <div class="miseEnPage">
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherFormulaireCreationPayeur") }}">Créer un
                        payeur</a>
                </div>
                <div class="boutonValidationConteneur conteneur">
                    <a class="boutonValidation bouton" href="{{ route("afficherListePayeurs") }}">Accéder à la liste des
                        payeurs</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}