{% extends "base.twig" %}

{% block page_content %}
    <div class="gestionListe">
        <div class="titreEtBarreRecherche">
            <h2>Liste des
                composantes</h2>
        </div>
        <div class="liste">
            <ul class="description">
                {% for composante in composantes %}
                    <li>
                        <p>{{ composante.getLibComposante }}</p>
                        <a href="{{ route("afficherFormulaireMiseAJourComposante", {idComposante : composante.getIdComposante}) }}">
                            <img src="{{ asset("../ressources/img/pencil.svg") }}" alt="update">
                        </a>
                        <a href="{{ route("supprimerComposante", {idComposante : composante.getIdComposante}) }}">
                            <img src="{{ asset("../ressources/img/delete.svg") }}" alt="delete">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}