{% extends "base.twig" %}

{% block page_content %}
    <div class="gestionListe">
        <div class="titreEtBarreRecherche">
            <h2>Liste des
                droits</h2>
        </div>
        <div class="liste">
            <ul class="description">
                {% for droit in droits %}
                    <li>
                        <p>{{ droit.getTypeDroit }}</p>
                        <a href="{{ route("afficherFormulaireMiseAJourDroit", {idDroit : droit.getIdDroit}) }}">
                            <img src="{{ asset("../ressources/img/pencil.svg") }}" alt="update">
                        </a>
                        <button class="boutonSuppression" onclick="afficherPopupSuppression('Droit', {{ droit.getIdDroit }} )">
                            <img src="{{ asset("../ressources/img/delete.svg") }}" alt="delete">
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}