{% extends "base.twig" %}

{% block page_content %}
    <div class="gestionListe">
        <div class="titreEtBarreRecherche">
            <h2>Liste des
                emplois</h2>
        </div>
        <div class="liste">
            <ul class="description">
                {% for emploi in emplois %}
                    <li>
                        <p>{{ emploi.getLibEmploi }}</p>
                        <a href="{{ route("afficherFormulaireMiseAJourEmploi", {idEmploi : emploi.getIdEmploi}) }}">
                            <img src="{{ asset("../ressources/img/pencil.svg") }}" alt="update">
                        </a>
                        <button class="boutonSuppression" onclick="afficherPopupSuppression('Emploi', {{ emploi.getIdEmploi }} )">
                            <img src="{{ asset("../ressources/img/delete.svg") }}" alt="delete">
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}